*{
transition: all 1s;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 4px;
    resize: vertical;
    box-shadow: inset 0px 0px 12px #000000;
    color: #000000;
  }

input[type=email], select, textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 4px;
    resize: vertical;
    box-shadow: inset 0px 0px 12px #000000;
    color: #000000;
  }

input[type=number], select, textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 4px;
    resize: vertical;
    box-shadow: inset 0px 0px 12px #000000;
    color: #000000;
  }

  input[type=message], select, textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #6e6e6e;
    background-color: #6e6e6e;
    border-radius: 4px;
    resize: vertical;
    box-shadow: inset 0px 0px 12px #000000;
    color: #000000;
  }

  
  label {
    padding: 12px 12px 12px ;
    color: #bcfd4c;
    font-size: 18px;
    font-weight: 500;
    
  }
  
  input[type=submit] {
    background-color: transparent;
    color: #bcfd4c;
    padding: 10px 20px;
    border: solid 3px #bcfd4c;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
  }
  
  input[type=submit]:hover {
    background-color: #bcfd4c;
    color: #6e6e6e;
  }
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 90%;
      margin-top: 0;
      margin: 20px;
    }
  }