.footerContainer{
    display: flex;
    justify-content: space-around;
    background-color: #6e6e6e;
    color: #fff;
    padding: 20px 100px 10px 100px;
    box-shadow:  2px 2px 22px #000;
}
.footerLeft{
    width: 30%;
    text-align: justify;
}

.footerLeft > h1 {
    font-size: 30px;
    color: #bcfd4c;
    font-weight: 900;
    text-shadow: 2px 2px 2px #000;
}

.footerRight > p{
    text-align: center!important;
    font-weight: 300;
    padding: 3px;
    font-size: 14px;
}

.footerMiddle{
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-align: center;
}

.footerMiddleLeft > h3{
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 20px;
}


.footerMiddleRight > h3{
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 20px;
}

.footerMiddle > div > ul > li{
    padding: 2px;
    transition: 1s;
    font-weight: 300;
    font-size: 12px;
}
.footerMiddle > div > ul > li:hover{
    color: #bcfd4c;
    background-color: grey;
    cursor: pointer;
}

.footerMiddle > div{
    padding-left: 50px;
}

.footerRight{
    width: 30%;
}

.footerRight > h3{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
}

.footerRightRight > div > img{
    width: 70px;
    background-color: aliceblue;
    margin: 5px;
    transition: 0.5s;
}
.footerRightLeft > div > img{
    width: 70px;
    background-color: aliceblue;
    margin: 5px;
    transition: 0.5s;
}

.footerRightRight > div > img:hover{
    width: 70px;
    background-color: black;
    margin: 5px;
    transform: scale(1.5);
    transition: 1s;
    cursor: pointer;
}
.footerRightLeft > div > img:hover{
    width: 70px;
    background-color: black;
    margin: 5px;
    transform: scale(1.5);
    transition: 1s;
    cursor: pointer;
}

.footerRightRight{
    display: flex;
    justify-content: center;
}

.footerRightLeft{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .footerContainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0px;
    }

    .footerLeft{
        width: 100%;
    }
    .footerMiddle{
        width: 100%;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }
    .footerMiddle > div{
        padding: 0px;
    }
    .footerRight{
        width: 100%;
        padding-top: 20px;
    }
    .bottomFooterContainer{
        background-color: #bcfd4c;
        color: #6e6e6e;
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }
}






.bottomFooterContainer{
    background-color: #bcfd4c;
    color: #6e6e6e;
    text-align: center;
    padding: 10px;
}
.bottomFooterContainer > span{
    text-shadow: 0px 0px 5px #000;
}